/* Apply to all elements */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.back-blur {
    -webkit-backdrop-filter: blur(20px) saturate(150%);
    backdrop-filter: blur(20px) saturate(150%);
    background-color: rgba(255,255,255,0.7);
    z-index: 100;
    position: fixed;
}

/* Pseudo element for the background blur */
.back-blur::after {
    content: "";
    top: 0;
    background-image: url("/img/rectangle.svg");
    position: absolute;
    background-position: center;
    z-index: -1;  
}

/* Fixed header */
header {
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    height: 80px;
    padding: 0 1rem 0 1rem;
    align-items: center;
}

footer {
    display: flex;
    background-color: rgb(59, 59, 59);
    height: 100px;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 0 30px 10px 30px;
    font-size: 12px;
    color: #919191;
}

.active {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
    transition: 0.5s;
}

.logo-container, .nav-links, .nav-right {
    display: flex;
}

.logo-container {
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.logo-container svg {
    fill: #646d82;
}

.logo-container:hover svg {
    fill: #2CD889;
}

nav {
    flex: 2;
    margin-left: 4rem;
    margin-right: 4rem;
    width: 0.5rem;
    font-weight: 700;
    height: 100%;
    align-items: center;
}

.nav-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 5px;
    grid-row: 1/2;
    grid-column: 1/6;
    list-style: none;
    height: 100%;
    align-items: center;
    flex: 1;
}

.line {
    transition: 0.3s;
    grid-row: 2/3;
    grid-column: 5/6;
    background-color: #199159;
    height: 100%;
    width: 60%;
    margin: auto;
}

.nav-links:hover .nav-link {
    opacity: 0.4;
}

.nav-links .nav-link:hover {
    opacity: 1;
    font-size: 1rem;
    color: #2CD889;
}

.nav-link:nth-of-type(1):hover ~ .line {
    background-color: #29be79;
    transform: translateX(calc(-100% / 6 * 40));
}

.nav-link:nth-of-type(2):hover ~ .line {
    background-color: #29be79;
    transform: translateX(calc(-100% / 6 * 30));
}

.nav-link:nth-of-type(3):hover ~ .line {
    background-color: #29be79;
    transform: translateX(calc(-100% / 6 * 20));
}

.nav-link:nth-of-type(4):hover ~ .line {
    background-color: #29be79;
    transform: translateX(calc(-100% / 6 * 10));
}

.nav-link {
    text-decoration: none;
    color: #707070;
    transition: ease 0.3s;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.nav-right {
    flex: 1;
    align-items: center;
    justify-content: space-around;
    padding-left: 3%;
}

/* Used to highlight the current page */
.current {
    color: #199159;
    font-size: 1rem;
}

.action-btn > a {
    background-color: #2CD889;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.action-btn > a:hover {
    background-color: #29be79;
}

#add-visitor {
    margin-right: 1rem;
}

.notifications, .messages {
    fill: #646d82;
}

.notifications:hover svg, .messages:hover svg {
    cursor: pointer;
    fill: #2CD889;
    transition: 0.3s;
}

.profile img:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.profile{
    position: relative;
}

.profile img { 
    width: 42px;
    height: 42px;
    transition: 0.3s;
}

.dropdown-header p {
    font-size: 14px;
    text-align: center;
    align-items: center;
}

.dropdown-divider {
    display: block;
    height: 0;
    margin: 8px 0;
    border-top: 1px solid #646D82;
}

#dropdown-profile {
    top: 80px;
    right: 2rem;
    width: 180px;
}

.dropdown {
    padding: 10px 0 10px 0;
    align-items: center;
    border-radius: 5px;
    box-shadow:
        0 -3px 50px rgba(0, 0, 0, 0.1),
        0 6px 5px rgba(0, 0, 0, 0.05),
        0 12px 10px rgba(0, 0, 0, 0.05),
        0 10px 18px rgba(0, 0, 0, 0.07);
    display: none;
}

.show {
    display: block;
}

.dropdown::after {
    content: "";
    border-radius: 5px;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}

#dropdown-profile::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: calc(100% - 2em);
    transform: translateX(-50%);
    border: 10px solid;
    border-color: transparent transparent #ffff transparent;
}

#dropdown-profile ul {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#dropdown-profile a {
    text-decoration: none;
    color: #646D82;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 700;
}

#dropdown-profile ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    cursor: pointer;
    transition: 0.2s;
}

#dropdown-profile ul li:hover {
    background-color: #2CD889;
}

/* Will only be visible after width: 650px */
.desktop-hide {
    display: none;
}

.messages, .notifications {
    padding-right: 0.1rem;
}

.nav-cover {
    top: 0;
    width: 100%;
    height: 80px;
    background-color: white;
}

body {
    background-color: #F0FAF8;
    font-family: 'Poppins', sans-serif;
}

/* Break Point */
@media screen and (max-width:1095px) {
    header {
        align-items: center;
        display: grid;
        grid-template-rows: 1fr 1fr;
        height: 140px;
    }

    .nav-cover {
        height: 140px;
    }

    .logo-container {
        grid-row: 1/2;
        display: inline;
    }

    nav {
        grid-row: 2/3;
        grid-column: 1/3;
        width: 100%;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    /* Will only be visible after width: 650px */
    .desktop-hide {
        display: none;
    }
}

/* Break Point */
@media screen and (max-width: 650px) {
    header {
        height: 80px;
        display: inline-flex;
    }

    .nav-cover {
        height: 80px;
    }

    .mobile-hide {
        display: none;
    }

    .burger {
        display: flex;
        margin-left: auto;
        margin-right: 10px;
        order: 2;
        cursor: pointer;
    }

    #hamburger-menu {
        position: fixed;
        height: 100%;
        width: 100%;
    }

    #hamburger-menu::after {
        content: "";
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.2;
    }

    .menu {
        display: none;
    }
}

