/* Apply to all elements */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: 0.3s;
}

/* Fixed header */
header {
    position: fixed;
    width: 100%;
    z-index: 100;
    font-size: 14px;
    display: flex;
    height: 80px;
    padding: 0 1rem 0 1rem;
    align-items: center;
    -webkit-backdrop-filter: blur(20px) saturate(150%);
    backdrop-filter: blur(20px) saturate(150%);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

/* Pseudo element for the background blur */
header::after {
    content: "";
    opacity: 0.3;
    top: 0;
    background-image: url("../img/BG.svg");
    position: absolute;
    background-position: center;
    z-index: -1;  
}

.logo-container, .nav-links, .nav-right {
    display: flex;
}

.logo-container {
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.logo-container svg {
    fill: #646d82;
}

.logo-container:hover svg {
    fill: #2CD889;
}

nav {
    flex: 2;
    margin-left: 4rem;
    margin-right: 4rem;
    width: 0.5rem;
    font-weight: 700;
    height: 100%;
    padding-top: 30px;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-links:hover .nav-link {
    opacity: 0.4;
}

.nav-links .nav-link:hover {
    opacity: 1;
    font-size: 1rem;
    padding-bottom: 22px;
}

.nav-link {
    padding: 30px 0 25px 0;
    text-decoration: none;
    color: #707070;
}

.nav-link:hover {
    border-color: #2CD889;
    color: #2CD889;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

.nav-right {
    flex: 1;
    align-items: center;
    justify-content: space-around;
    padding-left: 3%;
}

.action-btn > a {
    background-color: #2CD889;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
}

.action-btn > a:hover {
    background-color: #29be79;
}

#add-visitor {
    margin-right: 1rem;
}

.notifications:hover svg, .messages:hover svg {
    cursor: pointer;
    fill: #2CD889;
}

.profile:hover {
    cursor: pointer;
    filter: brightness(110%);
}

.profile > img { 
    width: 42x;
    height: 42px;
}

/* Will only be visible after width: 650px */
.desktop-hide {
    display: none;
}

.messages, .notifications {
    padding-right: 0.1rem;
}

.nav-cover {
    top: 0;
    width: 100%;
    height: 80px;
    background-color: white;
}

body {
    background-color: #F0FAF8;
    font-family: 'Poppins', sans-serif;
}

/* Break Point */
@media screen and (max-width:1095px) {
    header {
        align-items: center;
        display: grid;
        height: 160px;
    }

    .nav-cover {
        height: 160px;
    }

    .logo-container {
        grid-row: 1;
        display: inline;
    }

    nav {
        grid-column: 1/2 span;
        width: 100%;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .nav-links > li {
        width: 20%;
    }

    .nav-link {
        display: inline-block;
        width: 100%;
    }

    .nav-links {
        text-align: center;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
    }

    .nav-links .nav-link:hover {
        padding-bottom: 23px;
    }

    .nav-right {
        grid-row: 1;
        display: flex;
    }

    /* Will only be visible after width: 650px */
    .desktop-hide {
        display: none;
    }
}

/* Break Point */
@media screen and (max-width: 650px) {
    header {
        height: 80px;
        display: inline-flex;
    }

    .nav-cover {
        height: 80px;
    }

    .mobile-hide {
        display: none;
    }

    .desktop-hide {
        display: flex;
        margin-left: auto;
        margin-right: 10px;
        order: 2;
        cursor: pointer;
    }
}
